.wpplgnblrplt-tabs {
  border-bottom: 1px solid $clr_grey_300;;
  margin-right: 10px;
  padding-left: 5px;

  .wpplgnblrplt-tab {
    display: inline-block;
    color: $clr_grey_300;
    vertical-align: top;
    white-space: nowrap;
    margin: 0;
    position: relative;
    top: 1px;
    font-weight: bold;
    font-size: 14px;

    a {
      text-decoration: none;
      color: $clr_grey_300;
      padding: 7px;
      border: 1px solid $clr_grey_300;
      background: $clr_grey_200;
      border-radius: 3px 3px 0 0;
      display: inline-block;
    }
  }

  .wpplgnblrplt-tab.active a {
    color: $clr_grey_400;
    background: #f0f0f1;
    border-bottom: #f0f0f1;
    padding-bottom: 8px;
  }
}
